.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.card {
  padding: 1%;
  border: 1px solid grey;
  width: 200px;
  margin: 5%;
  background-image: linear-gradient(45deg, #00000038, transparent);
  border-radius: 3%;
}

.img {
  width: 200px;
}

.search {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}